<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      <img src="assets/image/greenday_logo.png">
      <img src="assets/image/menu_icon.png">
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar style="padding: 5px">
      <ion-buttons slot="secondary">
          
      </ion-buttons>
      
      <ion-title><img src="assets/image/greenday_logo.png"></ion-title>
      
      <ion-buttons slot="primary">
          <img src="assets/image/menu_icon.png">
      </ion-buttons>
    </ion-toolbar>
  
</ion-header>


<ion-content>
  <ion-list style=" padding: 20px; ">
    <ion-item style=" width: 104%; margin-left: -7px; padding: 15px; border-radius: 5px; background-color: #eadede; ">
      <ion-avatar style="height: 75%; width: 20%; ">
        <img src="assets/image/user_item.png">
      </ion-avatar>
      <ion-label style="margin-left: 15px">
        <h2 style="font-size: 15px;font-weight: bold;">John Smith</h2>
        <h4>LEVEL 26</h4>
        <p>23,907  <ion-icon name="hand"></ion-icon></p>
      </ion-label>
    </ion-item>
    
      <ion-progress-bar value="0.4" style=" margin-top: -14px; margin-left: 10px; width: 94%; height: 7px; "></ion-progress-bar>
    
    
    
    
    
  </ion-list>

  <ion-list>
    <ion-list-header>
      <h4><b>FEED</b></h4>
    </ion-list-header>

    <ion-item style=" margin-top: 10px; ">
      <ion-avatar slot="start" style="margin-bottom: 15px;margin-right: 5px;">
        <img src="assets/image/clap_item.png">
      </ion-avatar>
      <ion-label>
        <p style="font-size: 12px;"><b>Jane</b> received a clap from <span style=" float: right; margin-right: 15px; ">+1 <ion-icon name="hand"></ion-icon></span></p>
        <p style="font-size: 11px;margin-top: -5px;">FireBird.</p>
        <p style="font-size: 10px;margin-top: -6px;">Monday 7:25 PM</p>
      </ion-label>
    </ion-item>
    <ion-item style="margin-top: -5px;padding: 3px;">
      <ion-thumbnail style=" height: 90%; width: 35%; margin-right: 10px; ">
        <img src="assets/image/firebird_item.png">
      </ion-thumbnail>
      <ion-label>
        <h3 style=" font-size: 12px; font-weight: 800; color: #757272; ">One Cup Per Child</h3>
        <p style=" font-size: 11px; font-variant-caps: small-caps; margin-top: -4px; ">FireBird</p>
        <p style="font-size: 11px;">For every cup of firebird coffee purchased,one dollar will be made to the foundation.Buy one from your nearest FireBird now...</p>
        <p style=" float: right; margin-right: 8px; ">Read More</p>
        <h3 style=" margin-top: 40px; float: right;width: 88%;color: #6edcce; "><ion-icon name="heart-empty"></ion-icon> Like      <ion-icon name="share-alt" style=" margin-left: 25px; "></ion-icon> Share</h3>
      
      </ion-label>
    </ion-item>

    <ion-item style=" margin-top: 10px; ">
      <ion-avatar slot="start" style="margin-bottom: 15px;margin-right: 5px;">
        <img src="assets/image/clap_item.png">
      </ion-avatar>
      <ion-label>
        <p style="font-size: 12px;"><b>Jane</b> received a clap from <span style=" float: right; margin-right: 15px; ">+1 <ion-icon name="hand"></ion-icon></span></p>
        <p style="font-size: 11px;margin-top: -5px;">FireBird.</p>
        <p style="font-size: 10px;margin-top: -6px;">Monday 7:25 PM</p>
      </ion-label>
    </ion-item>
    <ion-item style="margin-top: -5px;padding: 3px;">
      <ion-thumbnail style=" height: 90%; width: 35%; margin-right: 10px; ">
        <img src="assets/image/firebird_item.png">
      </ion-thumbnail>
      <ion-label>
        <h3 style=" font-size: 12px; font-weight: 800; color: #757272; ">One Cup Per Child</h3>
        <p style=" font-size: 11px; font-variant-caps: small-caps; margin-top: -4px; ">FireBird</p>
        <p style="font-size: 11px;">For every cup of firebird coffee purchased,one dollar will be made to the foundation.Buy one from your nearest FireBird now...</p>
        <p style=" float: right; margin-right: 8px; ">Read More</p>
        <h3 style=" margin-top: 40px; float: right;width: 88%;color: #6edcce; "><ion-icon name="heart-empty"></ion-icon> Like      <ion-icon name="share-alt" style=" margin-left: 25px; "></ion-icon> Share</h3>
      
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="add">
        <ion-icon name="add-circle"></ion-icon>      
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>       
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
